#content-results {
  grid-column: 11 / 90;
  grid-row: 10 / 101;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-height: 90vh;
  -webkit-box-shadow: 1px 1px 32px -4px rgb(73, 73, 73);
  -moz-box-shadow: 1px 1px 32px -4px rgb(73, 73, 73);
  box-shadow: 1px 1px 32px -4px rgb(73, 73, 73);
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 0px 0px 20px 20px;
  transition: all 0.3s ease;
  position: relative;
}
.back-button-img {
  height: 40px;
  width: auto;
  position: fixed;
  left: 1%;
  top: 1%;
  cursor: pointer;
  display: none;
}

#season-years {
  max-height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-right: 2px solid black;
  transition: all 0.3s ease;
  overflow-y: scroll;
  overflow-x: hidden;
}

.season-results {
  width: 100%;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  -webkit-user-select: none;
  user-select: none;
  transition: width 0.3s ease;
  transition: box-shadow 0.1s ease;
  cursor: pointer;
  &:hover {
    -webkit-box-shadow: inset 0px 1px 19px -7px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 1px 19px -7px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 1px 19px -7px rgba(66, 68, 90, 1);
  }
}
.season-results:nth-child(odd) {
  background-color: white;
}
.season-results:nth-child(even) {
  background-color: #ebeaea;
}

#season-races {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  transition: all 0.3s ease;
  border-right: 2px solid black;
  overflow-y: scroll;
  position: relative;
}

.season-race {
  min-height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1 0 auto;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  &:hover {
    -webkit-box-shadow: inset 0px 1px 19px -7px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 1px 19px -7px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 1px 19px -7px rgba(66, 68, 90, 1);
  }
}
.season-race:nth-child(odd) {
  background-color: white;
}
.season-race:nth-child(even) {
  background-color: #ebeaea;
}
.season-race .season-race-elements {
  height: 100%;
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

/* ------------------------------------------ */
#season-races-results {
  width: 70%;
  height: 100%;
  display: flex;
  position: relative;
  flex-flow: column;
  overflow-y: scroll;
  transition: all 0.3s ease;
  background-color: white;
}
#season-races-results-first-time {
  width: 70%;
  height: 100%;
  display: flex;
  position: relative;
  flex-flow: column;
  overflow-y: scroll;
  transition: all 0.3s ease;
  background-color: white;
}

.loading-div {
  background-color: rgba(0, 0, 0, 0.342);
  color: white;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
}
.loading-div span {
  position: absolute;
  width: auto;
  height: auto;
  background-color: rgb(91, 91, 91);
  padding: 30px;
  border-radius: 30px;
  border: 2px solid white;
}

#name-of-race {
  background-color: white;
  min-height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 10px;
  font-size: 22px;
}
#name-of-race .race-date {
  position: absolute;
  top: 30px;
  right: 3vw;
}
#name-of-race .race-place {
  position: absolute;
  top: 10px;
  right: 3vw;
}

.season-race-results {
  background-color: brown;
  min-height: 42px;
  height: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1 0 auto;
  overflow: hidden;
  font-size: 18px;
}
.season-race-results:nth-child(odd) {
  background-color: white;
}
.season-race-results:nth-child(even) {
  background-color: #ebeaea;
}
.season-race-results .place {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}
.season-race-results .time {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: default;
}
.season-race-results .drivers-name {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: default;
}
.season-race-results .constructors-name {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: default;
}
.season-race-results .points {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}
@media screen and (max-width: 768px) {
  #content-results {
    grid-column: 5 / 96;
  }
}
@media screen and (max-width: 576px) {
  #content-results {
    grid-row: 8 / 101;
    grid-column: 2 / 100;
  }
  .season-race .season-race-elements {
    font-size: 15px !important;
  }
  .season-race-results {
    font-size: 13px;
  }
  .season-race-results .drivers-name {
    padding-left: 5%;
  }
  #name-of-race {
    font-size: 19px;
  }
  #name-of-race .race-date {
    font-size: 15px;
  }
  #name-of-race .race-place {
    font-size: 15px;
  }
}
