#content-box {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.267);
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
  }