#content-drivers {
  grid-column: 11 / 90;
  grid-row: 10 / 101;
  display: flex;
  flex-flow: column;
  padding: 0;
  -webkit-box-shadow: 1px 1px 32px -4px rgb(73, 73, 73);
  -moz-box-shadow: 1px 1px 32px -4px rgb(73, 73, 73);
  box-shadow: 1px 1px 32px -4px rgb(73, 73, 73);
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-radius: 0px 0px 20px 20px;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.3s ease;
}
#content-drivers a:nth-child(2n) {
  margin-bottom: 15px;
}
#content-drivers a:last-child {
  margin-bottom: 0px;
}
.driver-banner {
  background-color: rgb(255, 255, 255);
  color: initial;
  height: 134px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(30, 1fr);
  position: relative;
  border-bottom: 2px solid black;
  transition: margin-left 0.2s ease, width 0.2s ease;
  &:hover {
    margin-left: 15px;
  }
}
.driver-banner h3 {
  text-shadow: 3px 5px 7px rgba(169, 166, 166, 1);
}
.drivers-img {
  margin-left: 0 !important;
  width: 135px;
  height: auto;
  position: absolute;
  left: 45px;
}
.drivers-number {
  color: rgba(29, 29, 29, 0);
  grid-row: 5/ 25;
  grid-column: 1 / 10;
  min-width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  text-shadow: 3px 5px 1px rgb(85, 85, 85);
  border-radius: 50%;
  font-family: "Roboto Condensed", sans-serif;
}
.driver-banner-box {
  grid-column: 20 / 101;
  grid-row: 4 / 31;
  border-radius: 30px 0px 0px 0px;
  border-top: 3px solid green;
  border-left: 3px solid green;
  display: flex;
  flex-flow: column;
}
.driver-banner-box-upper {
  width: 100%;
  height: 50%;
  display: flex;
  padding-left: 5%;
  align-items: center;
  border-bottom: 1px solid green;
  background-color: #c2c2c2;
  border-top-left-radius: 25px;
}
.driver-banner-box-upper h4 {
  font-size: 22px;
  font-weight: 600;
  transition: all 0.3s ease;
}
.driver-banner-box-upper h3 {
  font-size: 28px;
  transition: all 0.3s ease;
}
.driver-banner-box-upper .drivers-name {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
}
.birdth-and-nationality {
  font-size: 18px;
  width: 40%;
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  align-items: flex-start;
}
.drivers-image-box {
  width: 30%;
  display: flex;
  justify-content: center;
}
#drivers-team-logo {
  width: 70px;
  height: auto;
}
.driver-banner-box-lower {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ebeaea;
}
.half-lower {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.half-lower span {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
  padding-right: 3%;
}
@media screen and (max-width: 1460px) {
  #content-drivers {
    grid-column: 10 / 91;
  }
}
@media screen and (max-width: 1000px) {
  .driver-banner-box-upper h4 {
    font-size: 18px;
  }
  .driver-banner-box-upper h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 900px) {
  .half-lower {
    flex-flow: column;
    padding-bottom: 1%;
  }
  .birdth-and-nationality {
    width: 30%;
  }
  .drivers-image-box {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  #content-drivers {
    grid-column: 5 / 96;
  }
  .birdth-and-nationality {
    padding-left: 3%;
  }
  .driver-banner-box-upper h4 {
    font-size: 15px;
  }
  .driver-banner-box-upper h3 {
    font-size: 17px;
  }
}
@media screen and (max-width: 576px) {
  #content-drivers {
    grid-column: 2 / 100;
    grid-row: 8 / 101;
  }
  .drivers-image-box {
    display: none;
  }
  .driver-banner-box-upper {
    justify-content: space-around;
  }
  .drivers-name {
    width: 50% !important;
  }
  .birdth-and-nationality {
    width: 50%;
  }
  .half-lower:nth-child(1) {
    align-items: flex-end;
  }
}
@media screen and (max-width: 480px) {
  .driver-banner-box-upper {
    padding-left: 10%;
    padding-right: 6%;
  }
  .driver-banner-box-lower {
    flex-flow: column;
    align-items: center;
    padding-left: 15%;
  }
  .half-lower {
    align-items: flex-start;
    font-size: 13px;
  }
  .half-lower:nth-child(1) {
    padding-right: 3%;
  }
  .half-lower span {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  .driver-banner-box-upper h4 {
    font-size: 13px;
  }
  .driver-banner-box-upper h3 {
    font-size: 15px;
  }
}
