* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(./assets/f1-mercedes.jpg);
  background-position: center;
  background-attachment: fixed;
  font-family: "Dancing Script", cursive;
  font-family: "Josefin Sans", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

*::-webkit-scrollbar {
  width: 0.1px;
}

*::-webkit-scrollbar-track {
  display: none;
}

*::-webkit-scrollbar-thumb {
  display: none;
}
