* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(./assets/f1-mercedes.jpg);
  background-position: center;
  background-attachment: fixed;
  font-family: "Dancing Script", cursive;
  font-family: "Josefin Sans", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
#f1-logo {
  position: absolute;
  height: 50px;
  width: auto;
  right: 50px;
  bottom: 50px;
}
#content-box {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.267);
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(100, 1fr);
}
/* style nagłówka */
#header {
  background-color: rgba(0, 0, 0, 0.397);
  backdrop-filter: blur(15px);
  min-width: 900px;
  min-height: 64px;
  grid-row: 4 / 10;
  grid-column: 25 / 76;
  border-radius: 10px;
  border: 1px solid white;
  -webkit-box-shadow: 1px 1px 32px -4px rgb(73, 73, 73);
  -moz-box-shadow: 1px 1px 32px -4px rgb(73, 73, 73);
  box-shadow: 1px 1px 32px -4px rgb(73, 73, 73);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
/* style przycisków nawigacji nagłówka */
#header .nav-button {
  text-shadow: 2px 2px 9px #414141;
  font-size: 25px;
  color: white;
  padding: 2px 16px;
  transition: color 0.3s ease;
  padding: 18px;
  cursor: pointer;
}
/* akcje hover'u przycisków nawigacji nagłówka */
#header .nav-button:hover {
  color: red;
  text-shadow: none;
}
/* domyślne zachowanie zdjęć na stronie */
/* #content-box img{
          width: 50px;
          height: auto;
          margin-left: -170px;
      } */
/* stylizacje przycisku powrotu do strony głównej  */
#home {
  border-left: 1.5px solid white;
  padding: 15px 11px 18px 30px;
}

/* ------------------------------------------------------------------------
----------------------sekcja kierowcy------------------------------------------- */

/* stylizacja pojemnika na kierowców pod przyciskiem 'kierowcy' */
#drivers {
  background-color: rgba(0, 0, 0, 0.541);
  backdrop-filter: blur(15px);
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-top: 1px solid white;
  border-radius: 10px;
  grid-column: 25 / 76;
  grid-row: 10 / 46;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
  color: white;
  display: flex;
  /* display: none; */
  min-height: 220px;
  padding-left: 5px;
  padding-right: 5px;
}
/* stylizacja dla hiperłacza pojemnika kierowców */
#drivers a {
  text-decoration: none;
  color: white;
  transition: background-color 0.2s linear;
  transition: all 0.3s ease;
}
#drivers a:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.281);
  border-radius: 10px 0px 10px 0px;
  .driver img {
    right: 45px;
  }
  .driver-number {
    right: 5px;
  }
}
/* stylizacja pojemnika na konkretnego kierowcę */
.driver {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* padding-left: 10px; */
  border-radius: 0px 0px 10px 0px;
  position: relative;
}
/* stylizacja nazwy kierowcy */
.driver span {
  width: 50px;
}
/* stylizacja flagi kierowcy */
.driver img {
  width: auto;
  height: 28px !important;
  position: absolute;
  right: 5px;
  transition: right 0.3s ease;
}
.driver .driver-number {
  position: absolute;
  right: 45px;
  bottom: -1px;
  font-size: 25px;
  color: rgb(193, 207, 212);
  /* background-color: rgb(71, 75, 75); */
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: right 0.3s ease;
}

/* ------------indywidualna sekcja dla kierowców--------- */

/* -------------------------------------------------------------------------
-----------------------------sekcja zespołów--------------------------------------- */

/* stylizacja pojemnika na zespoły */
#teams {
  background-color: rgba(187, 187, 187, 0.541);
  backdrop-filter: blur(8px);
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-top: 1px solid white;
  border-radius: 10px;
  /* grid-column: 20 / 82; */
  grid-row: 10 / 43;
  grid-column: 25 / 76;
  /* min-width: 1180px; */
  min-height: 260px;
  flex-flow: wrap;
  color: white;
  display: grid;
  /* display: none; */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
/* stylizacja hiperłącz dla pojemnika zespołów */
#teams a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  transition: background-color 0.2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}
#teams a:hover {
  text-decoration: none;
  background-color: rgba(66, 65, 65, 0.281);
  border-radius: 10px 0px 10px 0px;
}
/* indywidualny pojemnik na zespół */
.team {
  /* width: 233.3px;
      height: 175px; */
  /* background-color: aqua; */
  /* display: flex;
      justify-content: center;
      align-items: center; */
  /* padding-left: 10px; */
  /* position: relative; */
  /* background-color: #2293d1; */
  /* border-left: 0.1px solid white;
      border-bottom: 0.1px solid white;
      border-right: 0.1px solid white;
      border-top: 0.1px solid white; */
}
/* ------------indywidualna sekcja dla zespołów--------- */
.f1-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 170px; */
}
.f1-logo-img {
  width: 100px;
  height: auto;
}
/* #red-bull img{
      width: 160px;
      height: auto;
      margin-left: -165px;
  }
  #mercedes img{
      width: 160px;
      height: auto;
      margin-left: -165px;
  }
  #mclaren img{
      width: 210px;
      height: auto;
      margin-left: -150px;
  }
  #aston-martin img{
      width: 160px;
      height: auto;
      margin-left: -165px;
  }
  #williams{
      border-radius: 0px 0px 0px 10px;
  }
  #williams img{
      width: 120px;
      height: auto;
      margin-left: -165px;
  }
  #haas img{
      width: 170px;
      height: auto;
      margin-left: -185px;
  }
  #alphatauri{
      border-radius: 0px 0px 10px 0px;
  } */

/* -------------------------------------------------------------------------------------------
  ---------------------------Statystyki czasu Rzeczywistego-------------------------------------------- */

/* --------------------------------kierowcy--------------------------------------------------- */

/* stylizacja pojemnika statystyk kierowców */
#drivers-leaderboards {
  background-color: #ffffff;
  /* min-width: 260px; */
  grid-column: 77/100;
  grid-row: 4 / 100;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  border: #414141 1px solid;
  border-radius: 10px;
  overflow: hidden;
  height: 60px;
  transition: height 0.35s ease;
  -webkit-box-shadow: 1px 1px 32px -4px rgb(73, 73, 73);
  -moz-box-shadow: 1px 1px 32px -4px rgb(73, 73, 73);
  box-shadow: 1px 1px 32px -4px rgb(73, 73, 73);
  overflow: scroll;
}
/* stylizacja hoveru pojemnika statystyk kierowców */
#drivers-leaderboards:hover {
  height: 90vh;
  z-index: 2;
}
/* stylizacja nagłówka statystyk kierowców */
#drivers-leaderboards h3 {
  margin-top: 20px;
  margin-bottom: 30px;
  user-select: none;
}
/* stylizacja hiperłącz statystyk kierowców */
#drivers-leaderboards a {
  height: 35px;
  width: 100%;
  text-decoration: none;
}
#drivers-leaderboards a:hover {
  text-decoration: none;
}
/* stylizacja pojemnika na statystyke konkretnego kierowcy */
.leaderboard-driver {
  width: 100%;
  height: 35px;
  display: flex;
  border-top: 1px solid rgb(121, 120, 120);
}
/* stylizacja pojemnika na punkty konkretnego kierowcy */
.leaderboard-driver-points {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
}
/* stylizacja pojemnika na nazwę konkretnego kierowcy */
.leaderboard-driver-name {
  height: 100%;
  width: 65%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 17px;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}
/* stylizacja pojemnika na pozycję konkretnego kierowcy */
.leaderboard-driver-place {
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(185, 185, 185);
  font-size: 20px;
}
.leaderboard-driver-number {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
/* stylizacja linijek statystyk kierowców */
#drivers-leaderboards a:nth-child(2n) {
  background-color: #ebeaea;
}
#drivers-leaderboards a:nth-child(2n + 1) {
  background-color: white;
}

/* -------------------------------------------zespoły--------------------------------------- */

/* stylizacja pojemnika statystyk zespołów */
#constructor-leaderboards {
  background-color: #ffffff;
  grid-column: 2/24;
  grid-row: 4 / 100;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  border: #414141 1px solid;
  border-radius: 10px;
  overflow: hidden;
  height: 60px;
  transition: height 0.25s ease;
  -webkit-box-shadow: 1px 1px 32px -4px rgb(73, 73, 73);
  -moz-box-shadow: 1px 1px 32px -4px rgb(73, 73, 73);
  box-shadow: 1px 1px 32px -4px rgb(73, 73, 73);
  overflow: scroll;
}
/* stylizacja hoveru pojemnika statystyk zespołów */
#constructor-leaderboards:hover {
  height: 50vh;
  z-index: 2;
}
/* stylizacja nagłówka statystyk zespołów */
#constructor-leaderboards h3 {
  margin-top: 20px;
  margin-bottom: 30px;
  user-select: none;
}
/* stylizacja hiperłacz pojemnika statystyk zespołów */
#constructor-leaderboards a {
  height: 35px;
  width: 100%;
  text-decoration: none;
}
#constructor-leaderboards a:hover {
  text-decoration: none;
}
/* stylizacja pojemnika statystyk konkretnego zespołu */
.leaderboard-constructor {
  width: 100%;
  height: 35px;
  border-radius: 10px;
  display: flex;
}
/* stylizacja punktów konkretnego zespołu */
.leaderboard-constructor-points {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
} /* stylizacja nazw konkretnego zespołu */
.leaderboard-constructor-name {
  height: 100%;
  width: 65%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 17px;
  color: black;
  padding-left: 10px;
}
/* stylizacja pozycji konkretnego zespołu */
.leaderboard-constructor-place {
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(185, 185, 185);
  font-size: 20px;
}
/* stylizacja linijek statystyk zespołow */
#constructor-leaderboards a:nth-child(2n) {
  background-color: #ebeaea;
}
#constructor-leaderboards a:nth-child(2n + 1) {
  background-color: white;
}
#small-nav {
  display: none;
  grid-column: 46 / 56;
  grid-row: 10 / 15;
  background-color: rgba(0, 0, 0, 0.397);
  justify-content: center;
  gap: 20px;
  align-items: center;
  font-size: 26px;
  -webkit-box-shadow: 1px 1px 32px -4px rgb(73, 73, 73);
  -moz-box-shadow: 1px 1px 32px -4px rgb(73, 73, 73);
  box-shadow: 1px 1px 32px -4px rgb(73, 73, 73);
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-radius: 0px 0px 10px 10px;
  min-height: 45px;
}
#small-nav a {
  color: white;
  padding: 8px;
}
#small-nav a:hover {
  color: red;
  text-shadow: none;
}
@media screen and (max-width: 1675px) {
  /* #constructor-leaderboards{
          grid-row:11/ 100 ;
          grid-column: 20 / 35;
      } */
  #constructor-leaderboards:hover {
    /* height: 43vh; */
  }
  /* #drivers-leaderboards{
          grid-row:11/ 100 ;
          grid-column: 68 / 82;
      } */
  #drivers-leaderboards:hover {
    /* height: 70vh; */
  }
  #drivers {
    /* height: 650px;
          width: 430px;
          grid-column: 37 / 82;
          grid-row: 10 / 100; */
  }
}
/* @media screen and (max-width: 1150px) {
      #constructor-leaderboards{
          display: none;
      }
      #drivers-leaderboards{
          display: none;
      }
      #nav-drivers{
          display: none;
      }
      #nav-teams{
          display: none;
      }
      #header{
          grid-column: 40 / 62;
          min-width: 680px;
      }
      #small-nav{
          display: flex;
      }
  } */
@media screen and (max-width: 680px) {
  #header {
    min-width: 590px;
  }
  #header .nav-button {
    font-size: 22px;
  }
  #home {
    display: none;
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */

/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
  width: 0.1px;
}

*::-webkit-scrollbar-track {
  display: none;
}

*::-webkit-scrollbar-thumb {
  display: none;
}

/* ======================driversList============== */
#content-drivers {
  /* background-color: rgba(248, 0, 0, 0.212); */
  grid-column: 25 / 76;
  grid-row: 10 / 101;
  -webkit-box-shadow: 1px 1px 32px -4px rgb(73, 73, 73);
  -moz-box-shadow: 1px 1px 32px -4px rgb(73, 73, 73);
  box-shadow: 1px 1px 32px -4px rgb(73, 73, 73);
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
  backdrop-filter: blur(7px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  display: flex;
  flex-flow: column;
  border-radius: 0px 0px 20px 20px;
}
#content-drivers a:nth-child(2n) {
  margin-bottom: 15px;
}
#content-drivers a:last-child {
  margin-bottom: 0px;
}
.driver-banner {
  /* background-color: rgb(190, 147, 147); */
  height: 134px;
  width: 100%;
  border-bottom: 0px solid black;
  border-top: 0px solid black;
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(30, 1fr);
  color: initial;
  background-color: rgb(255, 255, 255);
  transition: margin-left 0.2s ease, width 0.2s ease;
  position: relative;
  border-bottom: 2px solid black;
}
.driver-banner:hover {
  margin-left: 15px;
}
.driver-banner h3 {
  text-shadow: 3px 5px 7px rgba(169, 166, 166, 1);
}
.drivers-img {
  margin-left: 0 !important;
  /* background-color: blue; */
  /* grid-row: 1/31;
    grid-column: 10 /19; */
  position: absolute;
  width: 135px;
  height: auto;
  left: 45px;
  /* filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5)); */
}
#drivers-team-logo {
  width: 70px;
  height: auto;
}
.driver-banner .number {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 55px;
  grid-row: 5/ 25;
  grid-column: 1 / 10;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
  min-width: 80px;
  color: black;
  text-shadow: 3px 5px 1px rgb(85, 85, 85);
  /* background-color: #aaaaaa; */
  border-radius: 50%;
  /* border: 2px solid black; */
  /* -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1); */
  color: rgba(29, 29, 29, 0);
}
.driver-banner-box {
  grid-column: 20 / 101;
  grid-row: 4 / 31;
  /* background-color: blue; */
  border-radius: 30px 0px 0px 0px;
  border-top: 3px solid green;
  border-left: 3px solid green;
  display: flex;
  flex-flow: column;
  /* background-color: rgba(219, 219, 219, 0.938); */
}
.driver-banner-box-upper {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: 50px; */
  border-bottom: 1px solid green;
  background-color: #c2c2c2;
  border-top-left-radius: 25px;
}
.birdth-and-nationality {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center !important;
}
.driver-banner-box-upper span {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  gap: 10px;
  font-size: 23px;
}
.driver-banner-box-upper h3 {
  font-size: 35px;
}
.driver-banner-box-lower {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ebeaea;
}
.driver-banner-box-lower span {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}
/* ===========================results================== */
#content-results {
  /* background-color: rgba(212, 25, 25, 0.719); */
  grid-column: 25 / 76;
  grid-row: 10 / 101;
  -webkit-box-shadow: 1px 1px 32px -4px rgb(73, 73, 73);
  -moz-box-shadow: 1px 1px 32px -4px rgb(73, 73, 73);
  box-shadow: 1px 1px 32px -4px rgb(73, 73, 73);
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
  backdrop-filter: blur(7px);
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  /* flex-flow: column; */
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 0px 0px 20px 20px;
  transition: all 0.3s ease;
  max-height: 90vh;
}
.season-results:nth-child(odd) {
  background-color: white;
}

.season-results:nth-child(even) {
  background-color: #ebeaea;
}

#race-info-results {
  width: 100%;
  min-height: 120px;
  background-color: rgb(140, 155, 155);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  row-gap: 10px;
  font-size: 23px;
}
.driver-results {
  width: 100%;
  min-height: 40px;
  background-color: rgb(255, 255, 255);
  /* border-bottom: 1px solid black; */
  display: flex;
}
.driver-last-position {
  width: 10%;
  height: 100%;
  /* background-color: rgb(178, 165, 190); */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  padding-top: 10px;
  order: -2;
}
.driver-last-time {
  width: 40%;
  min-width: 180px;
  /* background-color: aquamarine; */
  font-size: 22px;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  align-items: center;
}
.driver-last-name {
  width: 50%;
  height: 100%;
  /* background-color: chartreuse; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 22px;
  order: -1;
  padding-left: 5%;
}
.driver-last-points {
  width: 15%;
  height: 100%;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
.season-results {
  width: 100%;
  min-height: 40px;
  /* background-color: rgb(105, 105, 179); */
  /* border-radius: 15px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  user-select: none;
  transition: all 0.3s ease;
  cursor: pointer;
}
.season-results:hover {
  -webkit-box-shadow: inset 0px 1px 19px -7px rgba(66, 68, 90, 1);
  -moz-box-shadow: inset 0px 1px 19px -7px rgba(66, 68, 90, 1);
  box-shadow: inset 0px 1px 19px -7px rgba(66, 68, 90, 1);
}

#season-years {
  display: flex;
  flex-flow: column;
  align-items: center;
  /* border-radius: 20px 20px 20px 20px; */
  border-right: 2px solid black;
  width: 100%;
  /* background-color: aquamarine; */
  /* height: 90vh; */
  transition: all 0.3s ease;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  /* margin-top: 440px; */
}
#season-races {
  width: 90%;
  height: 100%;
  /* background-color: aquamarine; */
  transition: all 0.3s ease;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  border-right: 2px solid black;
  overflow-y: scroll;
  /* padding-bottom: 10px; */
}
.season-race {
  min-height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-flow: column; */
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  flex: 1 0 auto;
}
.season-race-elements {
  height: 100%;
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  /* flex-flow: column; */
  /* background-color: aqua; */
}
.season-race:hover {
  -webkit-box-shadow: inset 0px 1px 19px -7px rgba(66, 68, 90, 1);
  -moz-box-shadow: inset 0px 1px 19px -7px rgba(66, 68, 90, 1);
  box-shadow: inset 0px 1px 19px -7px rgba(66, 68, 90, 1);
}
.season-race:nth-child(odd) {
  background-color: white;
}

.season-race:nth-child(even) {
  background-color: #ebeaea;
}
#season-races-results {
  width: 80%;
  height: 100%;
  /* height: auto; */
  /* background-color: rgb(48, 189, 20); */
  overflow-y: scroll;
  transition: all 0.3s ease;
  display: flex;
  /* justify-content: center;
  align-items: flex-start; */
  flex-flow: column;
  position: relative;
}
.loading-div {
  position: fixed;
  width: 75%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.342);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  color: white;
}
.loading-div span {
  position: absolute;
  width: auto;
  height: auto;
  background-color: rgb(91, 91, 91);
  padding: 30px;
  border-radius: 30px;
  border: 2px solid white;
}
.race-date {
  position: absolute;
  top: 35px;
  right: 30px;
}
.race-place {
  position: absolute;
  top: 35px;
  left: 30px;
}
.season-race-results {
  min-height: 42px;
  height: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  background-color: brown;
  font-size: 18px;
  flex: 1 0 auto;
}
.season-race-results:nth-child(odd) {
  background-color: white;
}

.season-race-results:nth-child(even) {
  background-color: #ebeaea;
}
#name-of-race {
  min-height: 150px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  flex-flow: column;
  font-size: 22px;
}
.place {
  /* background-color: blueviolet; */
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  /* background-color: aqua; */
}
.time {
  /* background-color: rgb(49, 47, 204); */
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: default;
}
.drivers-name {
  /* background-color: rgb(192, 189, 37); */
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: default;
}
.constructors-name {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: default;
}
.points {
  /* background-color: rgb(236, 68, 17); */
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}
/* ------------------------------Rankingi---------------------- */
#content-rankings {
  /* background-color: rgba(212, 25, 25, 0.719); */
  grid-column: 25 / 76;
  grid-row: 10 / 101;
  -webkit-box-shadow: 1px 1px 32px -4px rgb(73, 73, 73);
  -moz-box-shadow: 1px 1px 32px -4px rgb(73, 73, 73);
  box-shadow: 1px 1px 32px -4px rgb(73, 73, 73);
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
  backdrop-filter: blur(7px);
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
  transition: all 0.3s ease;
  max-height: 90vh;
}
.constructors-ranking {
  height: auto;
  width: 100%;
  /* background-color: aquamarine; */
  margin-bottom: 15px;
}
.constructors-ranking-header {
  width: 100%;
  height: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ebeaea;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.constructor-ranking-box {
  width: 100%;
  height: 35px;
  display: flex;
  /* background-color: aqua; */
  border-bottom:1px solid rgb(61, 61, 61) ;
}
.constructor-ranking-place{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 10%;
  /* background-color: blueviolet; */
  font-size: 20px;
  border-right: 1px solid black;
}
.constructor-ranking-name{
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
  align-items: center;
  height: 100%;
  width: 35%;
  /* background-color: rgb(121, 83, 156); */
  font-size: 18px;
}
.constructor-ranking-nationality{
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
  align-items: center;
  height: 100%;
  width: 20%;
  /* background-color: rgb(87, 146, 118); */
}
.constructor-ranking-wins{
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  align-items: center;
  height: 100%;
  width: 25%;
  /* background-color: rgb(162, 185, 107); */
}
.constructor-ranking-points{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 10%;
  border-left: 1px solid black;
  /* background-color: rgb(76, 100, 136); */
}
/* #content-rankings:nth-child(odd) {
  background-color: #ebeaea;
}
#content-rankings:nth-child(even) {
  background-color: rgb(150, 87, 87);
} */
.drivers-ranking {
  height: 450px;
  width: 100%;
  margin-bottom: 10px;
  /* background-color: aquamarine; */
}
.drivers-ranking-header {
  width: 100%;
  height: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ebeaea;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.driver-ranking-box {
  width: 100%;
  height: 35px;
  display: flex;
  /* background-color: aqua; */
  border-bottom:1px solid rgb(168, 168, 168) ;
}
.driver-ranking-place{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 10%;
  /* background-color: blueviolet; */
  font-size: 20px;
  border-right: 1px solid black;
}
.driver-ranking-nickname{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 10%;
  padding-left: 20px;
  /* background-color: rgb(121, 83, 156); */
  font-size: 18px;
}
.driver-ranking-name{
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  align-items: center;
  height: 100%;
  width: 30%;
  /* background-color: rgb(106, 173, 147); */
  font-size: 18px;
}
.driver-ranking-nationality{
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  align-items: center;
  height: 100%;
  width: 20%;
  /* background-color: rgb(87, 146, 118); */
}
.driver-ranking-wins{
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  align-items: center;
  height: 100%;
  width: 20%;
  /* background-color: rgb(162, 185, 107); */
}
.driver-ranking-points{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 10%;
  border-left: 1px solid black;
  /* background-color: rgb(76, 100, 136); */
}
.ad1{
  grid-column: 1 / 23;
  grid-row: 1/101;
  background-color: rgba(0, 0, 0, 0.397);
  display: flex;
  max-width: 0px;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  position: relative;
  padding-bottom: 800px;
  transition: all 0.3s ease;
}
.ad2{
  grid-column: 78 / 101;
  grid-row: 1 / 101;
  max-width: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 800px;
  background-color: rgba(0, 0, 0, 0.397);
  overflow-y: auto;
  position: relative;
  transition: all 0.3s ease;

}
.close-ad{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: auto;
  cursor: pointer;
}